node_modules/
node_modules_old/
.expo/
dist/
coverage/
__pycache__/
.pytest_cache/
.venv/
.env
*.pyc
.DS_Store
**/.DS_Store
backend/uploads/
backend/test.mp3
xcuserdata/
*.xcuserstate
mobile/package-lock 2.json
